﻿@using Microsoft.AspNetCore.Identity;

@inject UserManager<User> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var firstName = user?.FirstName;
}

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="header__top__left">
                        <p>Free shipping, 30-day return or refund guarantee.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right">
                        <div class="header__top__links">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <span style="color: #ffffff; font-size: 13px; text-transform: uppercase; letter-spacing: 2px; margin-right: 28px; display: inline-block;">
                                    Chào, @firstName
                                </span>
                                <button id="logoutButton" type="button" style="color: #ffffff; font-size: 13px; text-transform: uppercase; letter-spacing: 2px; margin-right: 28px; display: inline-block;">
                                    Đăng xuất
                                </button>
                            }
                            else
                            {
                                <a asp-controller="Account" asp-action="Login">Đăng nhập</a>
                                <a asp-controller="Account" asp-action="Register">Đăng ký</a>
                            }
                            <a href="#">FAQs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="./index.html"><img src="~/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Home" ? "active" : "")">
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Product" ? "active" : "")">
                            <a asp-controller="Product" asp-action="Index">Shop</a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Blog" ? "active" : "")"><a href="./blog.html">Blog</a></li>
                        <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Contact" ? "active" : "")">
                            <a asp-controller="Contact" asp-action="Index">Contacts</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a data-toggle="modal" data-target="#searchModal">
                        <img src="~/img/icon/search.png" alt="Search">
                    </a>

                    <a href="#"><img src="~/img/icon/heart.png" alt="Heart"></a>
                    <a asp-controller="Cart" asp-action="Index"><img src="~/img/icon/cart.png" alt="Cart"></a>
                    <div class="price" id="cartTotal"></div>
                </div>

                <!-- Modal Search Start -->
                <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-fullscreen">
                        <div class="modal-content rounded-0">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Tìm theo từ khóa</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body d-flex align-items-center">
                                <div class="input-group w-75 mx-auto d-flex">
                                    <input id="searchText" name="keyword" type="search" class="form-control search-input" placeholder="Nhập sản phẩm cần tìm..." aria-describedby="searchButton" required>
                                    <span id="searchButton" class="input-group-text search-button">
                                        <img src="~/img/icon/search.png" alt="Search">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Search End -->
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
<!-- Header Section End -->