@using EverythingSucks.ViewModels
@model CreateColorViewModel

@{
    ViewData["Title"] = "Create Color";
}

<h2>Create Color</h2>

<form asp-controller="Color" asp-action="Create" method="post">
    <div class="form-group mb-2">
        <label asp-for="Name">Color name</label>
        <input asp-for="Name" id="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label asp-for="ColorCode">Color code</label>
        <input asp-for="ColorCode" id="ColorCode" class="form-control">
        <span asp-validation-for="ColorCode" class="text-danger"></span>
    </div>
    <div>
        <div class="col-md-2">
            <button type="submit" id="submitBtn" class="btn btn-primary">Create</button>
        </div>
    </div>
</form>