@using EverythingSucks.ViewModels
@model IEnumerable<ProductViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "_ListProduct";
}

<!-- Breadcrumb Section Begin -->
@section BreadCrumb {
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->
@await Html.PartialAsync("_ProductItems", Model)

<div class="row">
    <div class="col-lg-12">
        <div class="product__pagination">
            <a class="active" href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <span>...</span>
            <a href="#">21</a>
        </div>
    </div>
</div>
<!-- Shop Section End -->