@using EverythingSucks.ViewModels
@model IEnumerable<ProductViewModel>

@{
    ViewData["Title"] = "Search";
    Layout = "_ListProduct";
}

<!-- Breadcrumb Section Begin -->
@section BreadCrumb {
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="product__item">
                <div class="product__item__pic set-bg" data-setbg="@item.ProductColors.FirstOrDefault()?.ProductImages.FirstOrDefault(pi => pi.IsPrimary)?.ImageUrl">
                    <ul class="product__hover">
                        <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
                        <li>
                            <a href="#"><img src="img/icon/compare.png" alt=""> <span>Compare</span></a>
                        </li>
                        <li><a href="#"><img src="img/icon/search.png" alt=""></a></li>
                    </ul>
                </div>
                <div class="product__item__text">
                    <h6>@item.ProductName</h6>
                    <a href="#" class="add-cart">+ Add To Cart</a>
                    <div class="rating">
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <h5>@item.ProductPrice.ToString("C")</h5>
                    <div class="product__color__select">
                        @{
                            bool isActiveSet = false;
                        }
                        @for (int i = 0; i < item.ProductColors.Count; i++)
                        {
                            var color = item.ProductColors[i];
                            bool isPrimaryColor = color.ProductImages.Any(pi => pi.IsPrimary);
                            string activeClass = isPrimaryColor && !isActiveSet ? "active" : "";
                            if (isPrimaryColor && !isActiveSet)
                            {
                                isActiveSet = true;
                            }
                            <label for="pc-@item.ProductId-@i" class="@activeClass" style="background:@color.ColorCode;">
                                <input type="radio" id="pc-@item.ProductId-@i" name="color-@item.ProductId">
                            </label>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="product__pagination">
            <a class="active" href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <span>...</span>
            <a href="#">21</a>
        </div>
    </div>
</div>
<!-- Shop Section End -->